@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

nav {
  color: #fff;
  background-color: #287bff;
  width: 70px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  overflow: hidden;
  transition: 0.5s all linear;
}

nav.active {
  width: 270px;
}

nav .header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  padding: 24px;
}

nav .header-nav i {
  font-size: 22px;
}

nav .header-nav h4 {
  font-weight: 400;
  font-size: 16px;
}

nav .header-nav h4.active {
  display: block;
}

nav .nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  row-gap: 10px;
  padding: 0 !important;
}

nav .nav-list a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  margin-left: 8px;
  transition: 0.3s all linear;
}

nav .nav-list a.active {
  background-color: #fff;
  color: #287bff;
  border-radius: 60px 0 0 60px;
}

nav .nav-list i {
  font-size: 22px;
}

nav .nav-list span {
  font-size: 16px;
}

nav .copy-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 160px;
  padding: 25px;
  column-gap: 25px;
}

nav .copy-right span {
  padding: 3px;
  font-size: 15px;
  font-weight: 700;
}

header {
  margin-left: 70px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.5s all linear;
  overflow: hidden;
}

header .toggle .toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

header .toggle .toggle-btn .toggle-icon {
  font-size: 22px;
}

header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #a1a1a1;
  border-radius: 70px;
}

header .search i {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #a1a1a1;
  font-weight: 900;
}

header input {
  border: 0;
  padding: 5px;
  border-radius: 40px;
  font-size: 16px;
  outline: 0;
}

header img {
  width: 50px;
  border-radius: 50%;
}

header.to-right {
  margin-left: 270px;
}

.statistics {
  margin-left: 70px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px 23px;
  flex-wrap: wrap;
  transition: 0.5s all linear;
  overflow: hidden;
}

.statistics.active {
  margin-left: 270px;
}

.statistics .sec-of-st {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 20px -6px #a1a1a1;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.statistics .sec-of-st:hover {
  background-color: #287bff;
}

.statistics .sec-of-st:hover span {
  color: #fff !important;
}

.statistics .sec-of-st:hover h1 {
  color: #fff !important;
}

.statistics .sec-of-st:hover i {
  color: #fff !important;
}

.statistics h1 {
  color: #287bff;
  font-size: 35px;
}

.statistics span {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 500;
}

.statistics i {
  font-size: 45px;
  color: #a1a1a1;
}

.member-stuff {
  margin-left: 70px;
  padding: 25px;
  transition: 0.5s all linear;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap !important;
  align-items: flex-start;
}

.member-stuff.active {
  margin-left: 270px;
}

.member-stuff .left {
  width: 68%;
  font-size: 17px;
}

.member-stuff .left .table {
  width: 100% !important;
  box-shadow: 0px 0px 20px -6px #a1a1a1;
  border-radius: 7px;
}

.member-stuff .left .table tr:hover {
  background-color: #287bff;
  color: #fff !important;
  cursor: pointer;
}

.member-stuff .right {
  box-shadow: 0px 0px 20px -6px #a1a1a1;
  border-radius: 7px;
  width: 30%;
}

.member-stuff h1 {
  color: #287bff;
  font-size: 20px;
  padding: 5px 13px;
}

.member-stuff .customers {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.member-stuff .customers .customer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.member-stuff .customers .customer:hover {
  background-color: #287bff;
}

.member-stuff .customers .customer:hover {
  color: #fff !important;
}

.member-stuff img {
  width: 50px;
  border-radius: 50%;
}

.member-stuff .customers .customer .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.member-stuff .customers .customer h4 {
  font-size: 15px;
}

.member-stuff .customers .customer span {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1150px) {
  .member-stuff{
    flex-wrap: wrap;
    overflow: hidden;
  }
  .member-stuff .left{
    width: 100%;
  }
  .member-stuff .right{
    width: 100%;
  }
}